@model IEnumerable<PersonelMVCUI.Models.EntityFramework.Student>
<h1>Personel Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>@personel.Name</td>
                <td>@personel.SurName</td>
            </tr>

        }
    </tbody>
</table>



